@import "without-sidebar.css";

body {
    color: black;
}

/* hsCode-head */
.hsCode-head {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.hsCode-head h5 {
    font-weight: 700;
    padding-top: 10px;
}

.mybtn {
    font-size: 15px;
    cursor: pointer;
    color: #FFFFFF;
    opacity: 1;
    filter: alpha(opacity = 100);
    transition: all 150ms linear;
}

.mybtn-info {
    color: #fff;
    background-color: #10538a;
    border-color: #10538a;
    font-weight: 500;
    font-size: 15px;
    border: none;
    width: 150px;
    height: 35px;
    border-radius: 5px;
}

/* containers 설정 */
.containers {
    display: flex;
    justify-content: space-between;
}

.container1,
.container2 {
    display: inline-block;
}

/* 기본 정보 설정 */
.container1>div>div h3 {
    padding-bottom: 10px;
    padding-top: 10px;
    font-weight: 500;
}

.container1>div>div h3 span{
    font-weight: 800;
}

.basic-info-table {
    background-color: #eff3f5;
    width: 530px;
    height: 190px;
    text-align: center;
    border-radius: 5px;
}
.basic-info-table table {
    background-color: white;
    margin: 0 auto;
    width: 500px;
}
.basic-info-table table td {
    text-align: left;
}
.basic-info-table table .scrollable {
    max-width: 200px;
    overflow-x: auto; /* 가로 스크롤바 활성화 */
    white-space: nowrap; /* 내용을 한 줄로 만들어 줍니다 */
}

/* 수출입정보 설정 */
.extra-info1 {
    background-color: #eff3f5;
    width: 530px;
    height: 290px;
    text-align: center;
    border-radius: 5px;
}
.extra-info1>h3 {
    padding-bottom: 10px;
    padding-top: 10px;
    font-weight: 500;
}
/* .extra-info1 .check-list {
    background-color: white;
    width: 500px;
    height: 170px;
    margin: 0 auto;
    border-radius: 5px;
} */
.extra-info1 .check-list h5 {
    text-align: left;
    left: 15px;
    top: 10px;
    position: relative;
    font-weight: 400;
}
.extra-info1 .check-list table {
    background-color: white;
    margin: 15px;
    width: 500px;
}
.extra-info1 .check-list table tr th {
    width: 135px;
}
.extra-info1 .check-list table tr td {
    width: 364px;
    text-align: left;
}


/* 전략물자 정보 설정 */
.extra-info2 {
    background-color: #eff3f5;
    width: 530px;
    height: 140px;
    text-align: center;
    border-radius: 5px;
}
.extra-info2>h3 {
    padding-bottom: 10px;
    padding-top: 15px;
    font-weight: 500;
}
.extra-info2 button {
    margin-top: 15px;
}

/* 세율정보 설정 */
.tax-info {
    background-color: #eff3f5;
    width: 640px;
    height: 660px;
    border-radius: 5px;
    margin-top: 20px;
    overflow: auto;
}

.tax-info-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 600px;
    height: 55px;
    margin: 0 auto;
}
.tax-info-head>h3 {
    margin: 0px;
    font-weight: 500;
}

.tax-info .tax-info-table table {
    background-color: white;
    width: 600px;
    margin: 0 auto
}

/* 스크롤바 */
.tax-info::-webkit-scrollbar {
    width: 10px;
}
.tax-info::-webkit-scrollbar-track { 
    background-color: #eff3f5;
}
.tax-info::-webkit-scrollbar-thumb { 
    background-color: lightgray;
}
.tax-info::-webkit-scrollbar-button {
    display: none;
}

/* hover 효과 */
.tax-info::-webkit-scrollbar-thumb:hover {
    background-color: gray(99, 99, 99);
}

/* 코너에 라운드 효과 */
.tax-info::-webkit-scrollbar-track,
.tax-info::-webkit-scrollbar-thumb {
    border-radius: 5px;
}

/* 테이블 설정 */
table {
    font-size: 15px;
    border: none;
}

table thead th {
    background-color: #10538a;
    color: white;
    text-align: center;
}

/* table tr {
    border-bottom: 1px solid black;
} */

th:first-child {
    border-radius: 5px 0 0 0;
}

th:last-child {
    border-radius: 0 5px 0 0;
}

table th,
table td {
    height: 30px;
}

/* 마지막 행의 border-bottom 삭제하기 */
table tr {
    border-bottom: none;
}

table th:not(:last-child),
table tr:not(:last-child) td {
    border-bottom: 1px solid black;
}

table tr:last-child td,
table tr:last-child th {
    border-bottom: none;
}


