<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>HSCODE ZOOM</title>
</head>
<body>
	<form th:action="@{/predict}" method="post">
		<div class="insert_des">
			<h2>제품 상세 입력</h2>
			<input type="text" id="description" name="description" placeholder="제품 설명 입력">
			<input type="submit" value="찾기">
		</div>
		<hr>
		<br>
		<div class="menu">
			<a th:href="@{/news}" text="무역뉴스">무역뉴스</a>
			<a th:href="@{/info/infoList}">FTA정보</a>
			<a href="#">무역통계</a>
			<a href="#">관세사리스트</a>
			<a href="#">간편상담</a>

			<!-- 상세페이지 레이아웃 페이지로 이동-->
			<a th:href="@{/layout}">layout</a>
		</div>
	</form>
</body>
</html>