<!DOCTYPE html>
<html lang="ko" 
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <head>
    <title>회원가입</title>
    <!--font-->
    <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css' rel='stylesheet' type='text/css'>

    <!--css-->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/assets/css/without-sidebar.css" rel="stylesheet" />

    <link href="/assets/demo/demo.css" rel="stylesheet" />
    <link  href="/assets/css/joinExample.css" rel="stylesheet">
    <script th:src="@{/assets/js/core/jquery.min.js}"></script>
    <script>
        $(function() {
            $("input[type='radio']").on('change', function() {

            if ($(this).val() === "") {
                $("#checkRole").html("Role은 필수값입니다<br>");
            }    
            // 만약 선택된 라디오 버튼이 "ROLE_CCA"인 경우에 대해서만 처리합니다.
            if ($(this).val() === 'ROLE_CCA') {
            // 해당 라디오 버튼이 선택되었는지 확인합니다.
            if ($(this).is(':checked')) {
                // 선택되었다면 #ccaNum1과 #ccaNum2의 입력 유형을 텍스트로 변경합니다.
                $("#apearCcaNum").css("display", "block");
            } else {
                // 선택되지 않았다면 #ccaNum1과 #ccaNum2의 입력 유형을 숨깁니다.
                $("#apearCcaNum").css("display", "none");
            }
            } else {
            // "ROLE_CCA" 라디오 버튼이 아닌 경우에는 항상 #ccaNum1과 #ccaNum2의 입력 유형을 숨깁니다.
            $("#apearCcaNum").css("display", "none");
        }
    });

            // null값 방지 check
            $("#userId").on('keyup', function(){
                if($(this).val()==""){
                $("#checkId").html("Id은 필수값입니다<br>");
            } else {
                $("#checkId").html(null);
            }
            })

            $("#userPwd").on('keyup', function(){
                if($(this).val()==""){
                $("#checkPwd").html("Pwd은 필수값입니다<br>");
            } else {
                $("#checkPwd").html(null);
            }
            })

            $("#userName").on('keyup', function(){
                if($(this).val()==""){
                $("#checkName").html("Name은 필수값입니다<br>");
            } else {
                $("#checkName").html(null);
            }
            })

            $("#phone").on('keyup', function(){
                if($(this).val()==""){
                $("#checkPhone").html("전화번호는 필수값입니다<br>");
            } else {
                $("#checkPhone").html(null);
            }
            })

            $("#email").on('keyup', function(){
                if($(this).val()==""){
                $("#checkEmail").html("이메일은 필수값입니다<br>");
            } else {
                $("#checkEmail").html(null);
            }
            })

            $("#ccaNum1").on('keyup', function(){
                if($(this).val()==""){
                $("#checkCcaNum").html("자격번호는 필수값입니다");
            } else {
                $("#checkCcaNum").html(null);
            }
            })

            $("#ccaNum2").on('keyup', function(){
                if($(this).val()==""){
                $("#checkCcaNum").html("등록번호는 필수값입니다");
            } else {
                $("#checkCcaNum").html(null);
            }
            })

            $("#submitBtn").on('click', function() {
              if($("#userId").val()==""){alert("아이디를 입력해주세요."); focus; return false;}
              if($("#userPwd").val()==""){alert("비밀번호를 입력해주세요."); focus; return false;}
              if($("#userName").val()==""){alert("이름를 입력해주세요."); focus; return false;}
              if($("#phone").val()==""){alert("전화번호를 입력해주세요."); focus; return false;}
              if($("#email").val()==""){alert("이메일를 입력해주세요."); focus; return false;}
              if($("#ROLE_USER").val()=="" && $("#ROLE_CCA").val()=="" && $("#ROLE_ADMIN").val()==""){alert("사용자 유형을 입력해주세요."); focus; return false;}
            })
            
        })

    </script>
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg fixed-top navbar-transparent " color-on-scroll="300">
      <div class="container">
      <div class="navbar-translate">
          <a class="navbar-brand" href="index.html" rel="tooltip" title="Coded by Creative Tim" data-placement="bottom" target="_blank">
              <img th:src="@{/images/web-logo9.png}" alt="로고">
          </a>
          <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-bar bar1"></span>
          <span class="navbar-toggler-bar bar2"></span>
          <span class="navbar-toggler-bar bar3"></span>
          </button>
      </div>
      <div class="collapse navbar-collapse justify-content-end" id="navigation">
          <ul class="navbar-nav">
          <li class="nav-item">
              <a class="nav-link" rel="tooltip" data-placement="bottom" href="https://demos.creative-tim.com/paper-kit/index.html" target="_blank">
              무역뉴스
              </a>
          </li>
          <li class="nav-item">
              <a class="nav-link" rel="tooltip" data-placement="bottom" href="https://demos.creative-tim.com/paper-kit/index.html" target="_blank">
              FTA정보
              </a>
          </li>
          <li class="nav-item">
              <a class="nav-link" rel="tooltip" data-placement="bottom" href="https://demos.creative-tim.com/paper-kit/index.html" target="_blank">
              무역통계
              </a>
          </li>

          <!-- <li class="nav-item">
              <a class="nav-link" rel="tooltip" data-placement="bottom" href="https://demos.creative-tim.com/paper-kit/index.html" target="_blank">
              관세사 Matching
              </a>
          </li> -->

          <div class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" id="dropdownMenuButton" href="#pk" role="button" aria-haspopup="true" aria-expanded="false">관세사상담</a>
              <ul class="dropdown-menu dropdown-info" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#pk">관세사목록</a>
              <a class="dropdown-item" href="#pk">상담목록</a>
              <a class="dropdown-item" href="#pk">상담하기</a>
              </ul>
          </div>
          </ul>
      </div>
      </div>
  </nav>
  <!-- End Navbar -->

  <!-- page-header 시작-->
  <div class="page-header section-dark" th:style="'background-image: url(\'' + @{/images/cover-img1.jpg} + '\')'">
      <div class="filter"></div>
      <div class="content-center">
          <div class="container">
              <div class="title-brand">
                  <h1 class="presentation-title">회원가입</h1>
              </div>
          </div> <!--div.content-center-->
      </div>
  </div>
  <!-- End page-header -->

<!-- side-bar 시작-->
<nav class="main-menu">
  <div class="settings"></div>
  <div class="scrollbar" id="style-1">
      <ul>
          <li class="menu-img">
              <a href="#">
                  <i class="fa fa-solid fa-bars fa-lg"></i>
                  <span class="nav-text">Menu</span>
              </a>
          </li> 
          <li>                                 
              <a href="#">
                  <i class="fa fa-solid fa-newspaper fa-lg"></i>
                  <span class="nav-text">무역뉴스</span>
              </a>
          </li>
          <li>                                 
              <a href="#">
                  <i class="fa fa-solid fa-book fa-lg"></i>
                  <span class="nav-text">FTA정보</span>
              </a>
          </li>
          <li>                                 
              <a href="#">
                  <i class="fa fa-solid fa-chart-simple fa-lg"></i>
                  <span class="nav-text">무역통계</span>
              </a>
          </li>
          <li>                                 
              <a href="#">
                  <i class="fa fa-solid fa-handshake fa-lg"></i>
                  <span class="nav-text">관세사상담</span>
              </a>
          </li>
          <li>                                 
              <a href="#">
                  <i class="fa fa-regular fa-user fa-lg"></i>
                  <span class="nav-text">로그인</span>
              </a>
          </li>
          <li>                                 
              <a href="#">
                  <i class="fa fa-user fa-lg"></i>
                  <span class="nav-text">로그아웃</span>
              </a>
          </li>
          <li>                                 
              <a href="#">
                  <i class="fa fa-solid fa-house-user fa-lg"></i>
                  <span class="nav-text">마이페이지</span>
              </a>
          </li>
      </ul>
  </div>    
</nav>

  
    <div class="content">
      <div class="member-container">
        <div class="header">
          <div>회원 가입을 위해</div>
          <div>정보를 입력해주세요</div>
        </div>
        <form th:action="@{/user/joinProc}" method="POST">
          <div class="user-info">
            * 아이디 <span id="checkId" style="color:darkblue;"></span>
            <input type="text" id="userId" name="userId" class="main nec">
            
            * 비밀번호 <span id="checkPwd" style="color:darkblue;"></span>
            <input type="password" name="userPwd" id="userPwd" class="main nec">
            
            * 이름 <span id="checkName" style="color:darkblue;"></span>
            <input type="text" name="userName" id="userName" class="main nec">

            * 사용자 유형 <span id="checkRole" style="color:darkblue;"></span><br>
            <input type="radio" name="userRole" value="ROLE_USER" id="ROLE_USER" class="radio"> 일반사용자
            <input type="radio" name="userRole" value="ROLE_CCA" id="ROLE_CCA" class="radio"> 관세사
            <input type="radio" name="userRole" value="ROLE_ADMIN" id="ROLE_ADMIN" class="radio"> 관리자 <br>
            <hr class="main nec">
                    
            * 전화번호 <span id="checkPhone" style="color:darkblue;"></span>
            <input type="tel" name="phone" id="phone" class="main nec">

            * 이메일 <span id="checkEmail" style="color:darkblue;"></span>
            <input type="text" name="email" id="email" class="main nec">
            
            회사명 <span id="checkName"></span>
            <input type="text" name="companyName" id="companyName" class="main">

            지역<br>
            <select id="companyRegion">
              <option value="서울">서울</option>
              <option value="경기">경기</option>
              <option value="대전">대전</option>
              <option value="충남">충남</option>
              <option value="충북">충북</option>
              <option value="부산">부산</option>
              <option value="경남">경남</option>
              <option value="울산">울산</option>
              <option value="강원">강원</option>
              <option value="인천">인천</option>
              <option value="전남">전남</option>
              <option value="전북">전북</option>
              <option value="광주">광주</option>
              <option value="제주">제주</option>
              <option value="세종">세종</option>
              <option value="대구">대구</option>
              <option value="경북">경북</option>
          </select><br><hr class="main">

          <div id="apearCcaNum" style="display: none;">
          * 자격번호 <span id="checkCcaNum"  style="color:darkblue;"></span><br>
          <input type="text" name="ccaNum1" id="ccaNum1" class="ccanum" placeholder="자격번호" style="width: 100px; height: 20px;">
          <input type="text" name="ccaNum2" id="ccaNum2" class="ccanum" placeholder="등록번호"  style="width: 100px;  height: 20px;"><br>
          <hr class="main nec">
          </div>
  

          관심품목1  
          <select name="firstItem" id="firstItem">
            <option value="">전체</option>
            <option value="의류" th:selected="${searchItem == '의류'}">의류</option>
            <option value="무기류" th:selected="${searchItem == '무기류'}">무기류</option>
            <option value="농산품" th:selected="${searchItem == '농산품'}">농산품</option>
            <option value="광물" th:selected="${searchItem == '광물'}">광물</option>
            <option value="화학품" th:selected="${searchItem == '화학품'}">화학품</option>
            <option value="완구류" th:selected="${searchItem == '완구류'}">완구류</option>
            <option value="예술품" th:selected="${searchItem == '예술품'}">예술품</option>
            <option value="가구류" th:selected="${searchItem == '가구류'}">가구류</option>
            <option value="악기류" th:selected="${searchItem == '악기류'}">악기류</option>
            <option value="선박" th:selected="${searchItem == '선박'}">선박</option>
            <option value="시계" th:selected="${searchItem == '시계'}">시계</option>
            <option value="항공기" th:selected="${searchItem == '항공기'}">항공기</option>
            <option value="기계류" th:selected="${searchItem == '기계류'}">기계류</option>
            <option value="금속류" th:selected="${searchItem == '금속류'}">금속류</option>
            <option value="비금속류" th:selected="${searchItem == '비금속류'}">비금속류</option>
            <option value="플라스틱류" th:selected="${searchItem == '플라스틱류'}">플라스틱류</option>
            <option value="목재류" th:selected="${searchItem == '목재류'}">목재류</option>
            <option value="의료용품" th:selected="${searchItem == '의료용품'}">의료용품</option>
            <option value="화장품" th:selected="${searchItem == '화장품'}">화장품</option>
            <option value="곡물류" th:selected="${searchItem == '곡물류'}">곡물류</option>
            <option value="화약류" th:selected="${searchItem == '화약류'}">화약류</option>
            <option value="고무제품류" th:selected="${searchItem == '고무제품류'}">고무제품류</option>
            <option value="가죽제품류" th:selected="${searchItem == '가죽제품류'}">가죽제품류</option>
            <option value="인쇄물류" th:selected="${searchItem == '인쇄물류'}">인쇄물류</option>
            <option value="케이블류" th:selected="${searchItem == '케이블류'}">케이블류</option>
            <option value="면제품류" th:selected="${searchItem == '면제품류'}">면제품류</option>
            <option value="견직류" th:selected="${searchItem == '견직류'}">견직류</option>
            <option value="섬유제품류" th:selected="${searchItem == '섬유제품류'}">섬유제품류</option>
            <option value="도자기류" th:selected="${searchItem == '도자기류'}">도자기류</option>
            <option value="식기류" th:selected="${searchItem == '식기류'}">식기류</option>
            <option value="철도부품" th:selected="${searchItem == '철도부품'}">철도부품</option>
            <option value="원자로" th:selected="${searchItem == '원자로'}">원자로</option>
        </select><br>

        관심품목2  
          <select name="secondItem" id="searchItem">
            <option value="">전체</option>
            <option value="의류" th:selected="${searchItem == '의류'}">의류</option>
            <option value="무기류" th:selected="${searchItem == '무기류'}">무기류</option>
            <option value="농산품" th:selected="${searchItem == '농산품'}">농산품</option>
            <option value="광물" th:selected="${searchItem == '광물'}">광물</option>
            <option value="화학품" th:selected="${searchItem == '화학품'}">화학품</option>
            <option value="완구류" th:selected="${searchItem == '완구류'}">완구류</option>
            <option value="예술품" th:selected="${searchItem == '예술품'}">예술품</option>
            <option value="가구류" th:selected="${searchItem == '가구류'}">가구류</option>
            <option value="악기류" th:selected="${searchItem == '악기류'}">악기류</option>
            <option value="선박" th:selected="${searchItem == '선박'}">선박</option>
            <option value="시계" th:selected="${searchItem == '시계'}">시계</option>
            <option value="항공기" th:selected="${searchItem == '항공기'}">항공기</option>
            <option value="기계류" th:selected="${searchItem == '기계류'}">기계류</option>
            <option value="금속류" th:selected="${searchItem == '금속류'}">금속류</option>
            <option value="비금속류" th:selected="${searchItem == '비금속류'}">비금속류</option>
            <option value="플라스틱류" th:selected="${searchItem == '플라스틱류'}">플라스틱류</option>
            <option value="목재류" th:selected="${searchItem == '목재류'}">목재류</option>
            <option value="의료용품" th:selected="${searchItem == '의료용품'}">의료용품</option>
            <option value="화장품" th:selected="${searchItem == '화장품'}">화장품</option>
            <option value="곡물류" th:selected="${searchItem == '곡물류'}">곡물류</option>
            <option value="화약류" th:selected="${searchItem == '화약류'}">화약류</option>
            <option value="고무제품류" th:selected="${searchItem == '고무제품류'}">고무제품류</option>
            <option value="가죽제품류" th:selected="${searchItem == '가죽제품류'}">가죽제품류</option>
            <option value="인쇄물류" th:selected="${searchItem == '인쇄물류'}">인쇄물류</option>
            <option value="케이블류" th:selected="${searchItem == '케이블류'}">케이블류</option>
            <option value="면제품류" th:selected="${searchItem == '면제품류'}">면제품류</option>
            <option value="견직류" th:selected="${searchItem == '견직류'}">견직류</option>
            <option value="섬유제품류" th:selected="${searchItem == '섬유제품류'}">섬유제품류</option>
            <option value="도자기류" th:selected="${searchItem == '도자기류'}">도자기류</option>
            <option value="식기류" th:selected="${searchItem == '식기류'}">식기류</option>
            <option value="철도부품" th:selected="${searchItem == '철도부품'}">철도부품</option>
            <option value="원자로" th:selected="${searchItem == '원자로'}">원자로</option>
        </select><br>

        관심품목3  
          <select name="thirdItem" id="thirdItem">
            <option value="">전체</option>
            <option value="의류" th:selected="${searchItem == '의류'}">의류</option>
            <option value="무기류" th:selected="${searchItem == '무기류'}">무기류</option>
            <option value="농산품" th:selected="${searchItem == '농산품'}">농산품</option>
            <option value="광물" th:selected="${searchItem == '광물'}">광물</option>
            <option value="화학품" th:selected="${searchItem == '화학품'}">화학품</option>
            <option value="완구류" th:selected="${searchItem == '완구류'}">완구류</option>
            <option value="예술품" th:selected="${searchItem == '예술품'}">예술품</option>
            <option value="가구류" th:selected="${searchItem == '가구류'}">가구류</option>
            <option value="악기류" th:selected="${searchItem == '악기류'}">악기류</option>
            <option value="선박" th:selected="${searchItem == '선박'}">선박</option>
            <option value="시계" th:selected="${searchItem == '시계'}">시계</option>
            <option value="항공기" th:selected="${searchItem == '항공기'}">항공기</option>
            <option value="기계류" th:selected="${searchItem == '기계류'}">기계류</option>
            <option value="금속류" th:selected="${searchItem == '금속류'}">금속류</option>
            <option value="비금속류" th:selected="${searchItem == '비금속류'}">비금속류</option>
            <option value="플라스틱류" th:selected="${searchItem == '플라스틱류'}">플라스틱류</option>
            <option value="목재류" th:selected="${searchItem == '목재류'}">목재류</option>
            <option value="의료용품" th:selected="${searchItem == '의료용품'}">의료용품</option>
            <option value="화장품" th:selected="${searchItem == '화장품'}">화장품</option>
            <option value="곡물류" th:selected="${searchItem == '곡물류'}">곡물류</option>
            <option value="화약류" th:selected="${searchItem == '화약류'}">화약류</option>
            <option value="고무제품류" th:selected="${searchItem == '고무제품류'}">고무제품류</option>
            <option value="가죽제품류" th:selected="${searchItem == '가죽제품류'}">가죽제품류</option>
            <option value="인쇄물류" th:selected="${searchItem == '인쇄물류'}">인쇄물류</option>
            <option value="케이블류" th:selected="${searchItem == '케이블류'}">케이블류</option>
            <option value="면제품류" th:selected="${searchItem == '면제품류'}">면제품류</option>
            <option value="견직류" th:selected="${searchItem == '견직류'}">견직류</option>
            <option value="섬유제품류" th:selected="${searchItem == '섬유제품류'}">섬유제품류</option>
            <option value="도자기류" th:selected="${searchItem == '도자기류'}">도자기류</option>
            <option value="식기류" th:selected="${searchItem == '식기류'}">식기류</option>
            <option value="철도부품" th:selected="${searchItem == '철도부품'}">철도부품</option>
            <option value="원자로" th:selected="${searchItem == '원자로'}">원자로</option>
        </select><br>
        <hr>

            자기소개<br>
            <input type="text" name="selfInfo" id="selfInfo">
            
            
          

          <div class="agree-check">
            <input type="checkbox"> 이용약관 개인정보 수집 및 이용약관에 모두 동의합니다.
          </div>
          <!-- <div class="btn"> -->
            <input type="submit" id="submitBtn" class="button" value="회원가입">
            <input type="reset" id="resetBtn" class="button" value="초기화">
          <!-- </div> -->
        </div>
        </form>
      </div>
    </div>
    <!-- footer -->
    <footer class="footer-wave">
      <div class="waves">
          <div class="wave" id="wave1"></div>
          <div class="wave" id="wave2"></div>
          <div class="wave" id="wave3"></div>
          <div class="wave" id="wave4"></div>
      </div>

      <ul class="footer-wave-menu">
          <li class="menu__item"><a class="menu__link" href="#">HOME</a></li>
          <li class="menu__item"><a class="menu__link" href="#">무역뉴스</a></li>
          <li class="menu__item"><a class="menu__link" href="#">FTA정보</a></li>
          <li class="menu__item"><a class="menu__link" href="#">무역통계</a></li>
          <li class="menu__item"><a class="menu__link" href="#">관세사상담</a></li>

      </ul>
      <p>&copy;2024 HScode Zoom | All Rights Reserved</p>
  </footer>
  <!-- End footer -->

  <!--script-->
  <script th:src="@{/assets/js/core/jquery.min.js}" type="text/javascript"></script>
  <script th:src="@{/assets/js/core/popper.min.js}" type="text/javascript"></script>
  <script th:src="@{/assets/js/core/bootstrap.min.js}" type="text/javascript"></script>

  <script th:src="@{/assets/js/plugins/bootstrap-switch.js}"></script>

  <script th:src="@{/assets/js/plugins/nouislider.min.js}" type="text/javascript"></script>

  <script th:src="@{/assets/js/plugins/moment.min.js}"></script>
  <script th:src="@{/assets/js/plugins/bootstrap-datepicker.js}" type="text/javascript"></script>

  <script th:src="@{/assets/js/paper-kit.min.js?v=2.2.0}" type="text/javascript"></script>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTTfWur0PDbZWPr7Pmq8K3jiDp0_xUziI"></script>
  </body>
</html>