<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>원산지증명서 발급절차</title>
</head>
<body>
    <div id="cntntsView">	
	
	
		<div class="ac"><a class="btn_bl ico_w" href="https://unipass.customs.go.kr/csp/index.do" target="_blank" title="새창열림">관세청 원산지증명서 발급신청<span class="glan"> </span> </a> <a class="btn_blL ico_g" href="http://cert.korcham.net/base/index.htm" target="_blank" title="새창열림">대한상공회의소 원산지증명서 발급신청<span class="glan"> </span> </a></div>

<div class="line_dot"></div>

<h3 class="tit1 mgt40">국내원산지증명절차</h3>

<h4 class="tit2">자율 발급</h4>

<ol class="num_list_w w40 mgt10 nL_h2 cmgl30">
    <img th:src="@{/images/자율발급.png}" alt="자율발급">
</ol>

<h4 class="tit2 mgt30">기관발급</h4>

<h5 class="tit3">세관 발급</h5>
<div class="box_st1 cmgl30">


<ol class="num_list_w2">
    <img th:src="@{/images/기관발급.png}" alt="기관발급">
</ol>
</div>

<h5 class="tit3 mgt20">대한상공회의소 발급</h5>

<div class="box_st1 cmgl30">


<ol class="num_list_w2">
    <img th:src="@{/images/대한상공회의소발급.png}" alt="대한상공회의소발급">
</ol>


</div>

	
</div>

</body>
</html>