<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FTA정보</title>
    <!--font-->
    <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css' rel='stylesheet' type='text/css'>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">

    <!--css-->
    <link th:href="@{/assets/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/assets/css/with-sidebar.css}" rel="stylesheet" />

    <link th:href="@{/assets/demo/demo.css}" rel="stylesheet" />

    <!-- Resources -->
    <script src="https://cdn.amcharts.com/lib/5/index.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/percent.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
    <style>
        body {
            font-family: 'Spoqa Han Sans Neo', 'sans-serif';
        }

        .countryBtn {
            background-color: #eef4ed;
            border: none;
            color: #000;
            padding: 5px 10px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 15px;
            margin: 4px 2px;
            transition-duration: 0.4s;
            cursor: pointer;
            border-radius: 5px;
        }

        .countryBtn:hover {
            background-color: #092142;
            color: #fff;
        }

        #imageContainer {
            margin-top: 20px;
        }

        #worldMap {
            width: 1000px;
            margin: 0 auto;
        }

        #imageContainer {
            width: 700px;
            margin: 0 auto;
        }

        #changeBtns {
            width: 700px;
            margin-left: 400px;
        }

        #ftaMenu {
            width: 600px;
            margin: 0 auto;
            font-size: 20px;
        }
    </style>
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg fixed-top navbar-transparent " color-on-scroll="300">
        <div class="container">
            <div class="navbar-translate">
                <a class="navbar-brand" th:href="@{/}" rel="tooltip" title="HSCode Zoom" data-placement="bottom"
                    target="_self">
                    <img th:src="@{/images/web-logo9.png}" alt="로고">
                </a>
                <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navigation" aria-controls="navigation-index" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-bar bar1"></span>
                    <span class="navbar-toggler-bar bar2"></span>
                    <span class="navbar-toggler-bar bar3"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse justify-content-end" id="navigation">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" rel="tooltip" data-placement="bottom"
                            href="https://demos.creative-tim.com/paper-kit/index.html" target="_blank">
                            무역뉴스
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" rel="tooltip" data-placement="bottom" th:href="@{/info/infoList}"
                            target="_blank">
                            FTA정보
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" rel="tooltip" data-placement="bottom"
                            href="https://demos.creative-tim.com/paper-kit/index.html" target="_blank">
                            무역통계
                        </a>
                    </li>

                    <!-- <li class="nav-item">
						<a class="nav-link" rel="tooltip" data-placement="bottom"
							href="https://demos.creative-tim.com/paper-kit/index.html" target="_blank">
							관세사 Matching
						</a>
					</li> -->

                    <div class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" id="dropdownMenuButton" href="#pk"
                            role="button" aria-haspopup="true" aria-expanded="false">관세사상담</a>
                        <ul class="dropdown-menu dropdown-info" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#pk">관세사목록</a>
                            <a class="dropdown-item" href="#pk">상담목록</a>
                            <a class="dropdown-item" href="#pk">상담하기</a>
                        </ul>
                    </div>


                </ul>
            </div>
        </div>
    </nav>
    <!-- End Navbar -->

    <!-- page-header 시작-->
    <div class="page-header section-dark" th:style="'background-image: url(\'' + @{/images/cover-img1.jpg} + '\')'">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="title-brand">
                    <h1 class="presentation-title">무역뉴스</h1>
                    <h3 class="presentation-subtitle"></h3>
                </div>
            </div> <!--div.content-center-->
        </div>
    </div>
    <!-- End page-header -->
    <div id="worldMap">
        <h3 style="font-weight: bolder;">FTA 체결 현황</h3>
        <div id="changeBtns">
            <input type="button" value="발효국가" class="countryBtn countryBtn1" onmouseover="changeImage('guidance1.png')">
            <input type="button" value="서명/타결국가" class="countryBtn countryBtn2"
                onmouseover="changeImage('guidance2.png')">
            <input type="button" value="협상중국가" class="countryBtn countryBtn3"
                onmouseover="changeImage('guidance3.jpg')">
            <input type="button" value="재개,개시,여건조성" class="countryBtn countryBtn4"
                onmouseover="changeImage('guidance4.jpg')">
        </div>

        <div id="imageContainer">
            <img th:src="@{/images/guidance1.png}" alt="발효국가" id="mainImage">
        </div>

        <hr>
        <div id="ftaMenu">
            <a th:href="@{/info/origin}">원산지결정기준</a>
            <a th:href="@{/info/country}">FTA협정국</a>
            <a th:href="@{/info/tarrifrate}">세율정보</a>
            <a th:href="@{/info/export_utilization}">수출활용정보</a>
            <a th:href="@{/info/import_utilization}">수입활용정보</a>
        </div>
    </div>
    <!--script-->
    <script th:src="@{/assets/js/core/jquery.min.js}" type="text/javascript"></script>
    <script th:src="@{/assets/js/core/popper.min.js}" type="text/javascript"></script>
    <script th:src="@{/assets/js/core/bootstrap.min.js}" type="text/javascript"></script>

    <script th:src="@{/assets/js/plugins/bootstrap-switch.js}"></script>

    <script th:src="@{/assets/js/plugins/nouislider.min.js}" type="text/javascript"></script>

    <script th:src="@{/assets/js/plugins/moment.min.js}"></script>
    <script th:src="@{/assets/js/plugins/bootstrap-datepicker.js}" type="text/javascript"></script>

    <script th:src="@{/assets/js/paper-kit.min.js?v=2.2.0}" type="text/javascript"></script>
    <script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTTfWur0PDbZWPr7Pmq8K3jiDp0_xUziI"></script>

    <script>
        function changeImage(imageName) {
            document.getElementById('mainImage').src = '/images/' + imageName;
        }
    </script>
</body>

</html>