<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="apple-touch-icon" sizes="76x76" th:href="@{/assets/img//apple-icon.png}">
	<link rel="icon" type="image/png" th:href="@{/assets/img//favicon.png}">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
		name='viewport' />
	<!--     Fonts and icons     -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
	<!-- CSS Files -->
	<link th:href="@{/assets/css/bootstrap.min.css}" rel="stylesheet" />
	<link th:href="@{/assets/css/paper-kit.css?v=2.2.0}" rel="stylesheet" />
	<!-- CSS Just for demo purpose, don't include it in your project -->
	<link th:href="@{/assets/demo/demo.css}" rel="stylesheet" />
	<title>세율정보</title>
	<style>
		.side_menu {
			list-style-type: none;
			margin: 0;
			padding: 0;
			width: 15%;
			background-color: #07043b;
			height: 100%;
			position: fixed;
			overflow: auto;
		}

		.side_menu_li a {
			display: block;
			color: white;
			padding: 8px 16px;
			text-decoration: none;
			text-align: center;
			border-bottom: 1px solid white;
		}

		.side_menu_li a:hover {
			background-color: #ffffff;
			color: darkblue;
		}

		.side_menu_li:last-child {
			border-bottom: none;
		}

		.active {
			background-color: lightblue;
			color: white;
		}

		#cntntsView {
			margin-left: 15%;
			padding: 1px 16px;
			height: 1000px;
		}
	</style>

</head>

<body>
	<!-- side-bar 시작-->
	<nav class="side-bar">
		<ul class="side_menu">
			<li class="side_menu_li"><a th:href="@{/info/infoList}">FTA정보</a></li>
			<li class="side_menu_li"><a th:href="@{/info/origin}">원산지결정기준</a></li>
			<li class="side_menu_li"><a th:href="@{/info/country}">FTA협정국</a></li>
			<li class="side_menu_li"><a th:href="@{/info/tarrifrate}">세율정보</a></li>
			<li class="side_menu_li active"><a th:href="@{/info/export_utilization}">수출활용정보</a></li>
			<li class="side_menu_li"><a th:href="@{/info/import_utilization}">수입활용정보</a></li>
		</ul>
		<div id="cntntsView">


			<h2 class="tit1">세율정보</h2>

			<ul class="list_st1">
				<li>협정세율 : FTA 발효로 해당 협정에 따라 적용되는 세율
					<ul class="list_st2">
						<li>FTA 발효로 품목별로 즉시 관세 철폐, 단계별 관세 철폐, 관세 변동이 없는 미양허 품목 등으로 구분
							<p class="bu_atte mgt5">한 &middot; 아세안 FTA의 경우 일반품목, 민감품목, 초민감품목으로 구분</p>
						</li>
					</ul>
				</li>
				<li>기본세율(General Rate) : 자국법에 따라 정해진 세율 중 가장 기본이 되는 세율</li>
				<li>기준세율(Base Rate) : 관세인하 교섭 등에서 각국의 관세율 수준을 나타낼 때 사용하는 세율</li>
				<li>MFN(Most Favored Nation)세율 : 물품을 수입하는 국가에서 가장 낮게 운용하는 세율</li>
				<li>상호대응세율 : 한-아세안 FTA

				</li>

				<li>관세법상 세율적용의 우선순위
					<table class="tbl_st" border="1">
						<caption>관세법상 세율적용의 우선순위</caption>
						<colgroup>
							<col style="width:10%;" />
							<col style="width:50%;" />
							<col style="width:20%;" />
							<col style="width:20%;" />
						</colgroup>
						<thead>
							<tr>
								<th scope="col">순위</th>
								<th scope="col">내용</th>
								<th scope="col">하위내용</th>
								<th scope="col">비고</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>1</td>
								<td>덤핑방지관세+<br />
									상계관세<br />
									보복관세&nbsp;<br />
									긴급관세<br />
									특정물품긴급관세 (+)<br />
									농림축산물특별긴급관세<br />
									조정관세(제69조) 제2호</td>
								<td></td>
								<td>가장 우선하여 적용</td>
							</tr>
							<tr>
								<td>2</td>
								<td>칠레<br />
									아세안<br />
									싱가포르<br />
									EFTA<br />
									인도<br />
									EU<br />
									페루<br />
									미국<br />
									튀르키예<br />
									호주<br />
									캐나다<br />
									콜롬비아<br />
									중국<br />
									베트남<br />
									뉴질랜드<br />
									중미<br />
									영국<br />
									RCEP</td>
								<td></td>
								<td>3~7 보다 낮은 경우 우선 적용</td>
							</tr>
							<tr>
								<td rowspan="11">3</td>
								<td rowspan="2">WTO일반양허관세</td>
								<td>WTO양허규정 별표1가</td>
								<td rowspan="9">4~7 보다 낮은 경우 우선 적용</td>
							</tr>
							<tr>
								<td>&nbsp;WTO양허규정 별표1다</td>
							</tr>
							<tr>
								<td colspan="2">WTO개도국간의 양허관세</td>
							</tr>
							<tr>
								<td rowspan="3">아태협정양허관세</td>
								<td>일반양허관세</td>
							</tr>
							<tr>
								<td>방글라데시에 대한 양허 관세</td>
							</tr>
							<tr>
								<td>라오스에 대한 양허 관세</td>
							</tr>
							<tr>
								<td colspan="2">유엔무역개발회의 개발도상국간 협정관세</td>
							</tr>
							<tr>
								<td colspan="2">특정국가와의 관세협상에 따른 국제협력관세</td>
							</tr>
							<tr>
								<td colspan="2">편익관세</td>
							</tr>
							<tr>
								<td>WTO일반양허관세</td>
								<td>WTO양허규정 별표 1나</td>
								<td rowspan="2">
									<p>6, 7보다 우선하여 적용</p>

									<p>4, 5 보다 낮은 경우 우선 적용</p>
								</td>
							</tr>
							<tr>
								<td>아태협정양허관세</td>
								<td>일반양허관세(별표3다)</td>
							</tr>
							<tr>
								<td rowspan="2">4</td>
								<td colspan="2">조정관세(제69조) 제1호, 제3호, 제4호</td>
								<td>5, 6, 7 보다 우선 적용</td>
							</tr>
							<tr>
								<td colspan="2">할당관세</td>
								<td>
									<p>5 보다 낮은 경우 우선 적용</p>

									<p>6, 7 보다 우선 적용</p>
								</td>
							</tr>
							<tr>
								<td>5</td>
								<td colspan="2">최빈개발도상국에 대한 특혜관세</td>
								<td>6, 7 보다 우선적용</td>
							</tr>
							<tr>
								<td>6</td>
								<td colspan="2">잠정관세</td>
								<td>7 보다 우선하여 적용</td>
							</tr>
							<tr>
								<td>7</td>
								<td colspan="2">기본관세</td>
								<td></td>
							</tr>
						</tbody>
					</table>
				</li>
			</ul>

			<p></p>


		</div>
</body>

</html>