<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subheadings</title>
</head>
<body>
    <!-- 홈으로 돌아가는 로고 이미지-->
    <div class="logo">
        <h1>
            <a th:href="@{/}">HSCZ</a>
        </h1>
    </div>

    <div class="content">
        <table border="1">
            <thead>
                <tr>
                    <th rowspan="2" colspan="3">품목번호</th>
                    <th colspan="2">품명</th>
                </tr>
                <tr>
                    <th>한글</th>
                    <th>영문</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="subhead : ${list}">
                    <td th:text="${hs4digit}"></td>
                    <td th:text="${subhead.hs6digit}"></td>

                    <!-- 조건문 시작 -->
                    <!-- 마지막 네자리가 null이 아니고 길이가 4이면 하이퍼링크 걸기-->
                    <td th:if="!${#strings.isEmpty(subhead.hs10digit)} and ${#strings.length(subhead.hs10digit) == 4}">
                        <a th:href="@{/subhead/info(hsAll=${subhead.hsAll})}" th:text="${subhead.hs10digit}"></a>
                    </td>
                    <td th:unless="!${#strings.isEmpty(subhead.hs10digit)} and ${#strings.length(subhead.hs10digit) == 4}" th:text="${subhead.hs10digit}"></td>
                    <!-- 조건문 끝 -->

                    <td th:text="${subhead.koDescription}"></td>
                    <td th:text="${subhead.engDescription}"></td>
                </tr>
            </tbody>
        </table>
    </div> <!--content 끝-->


</body>
</html>