<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail Info</title>
</head>
<body>
    <!-- 홈으로 돌아가는 로고 이미지-->
    <div class="logo">
        <h1>
            <a th:href="@{/}">HSCZ</a>
        </h1>
    </div>

    <!-- 10자리 코드의 기본 정보 -->
    <div class="info">
        <table border="1">
            <tr>
                <th>품목번호</th>
                <td th:text="${hsCode}"></td>
                <th>단위(중량/수량)</th>
                <td>[[ ${wght} ]] / [[ ${qty} ]]</td>
            </tr>
            <tr>
                <th>품명</th>
                <td th:text="${koDescription}" colspan="3"></td>
            </tr>
            <tr>
                <th>간이정액환급</th>
                <td colspan="3">
                    <span th:unless="${#strings.isEmpty(refundsWon)}">
                    [[ ${refundsWon} ]] 원 (2024-01-01 ~ )(10,000원당 환급액)
                    </span>
                </td>
            </tr>
        </table>
    </div>

    <br>
    <br>

    <!-- 10자리 코드의 세율 정보 -->
    <h3>[ 세율 ]</h3>
    <input type="button" id="tax-priority" value="세율적용 우선순위">
    <div class="tax-info">
        <table border="1">
            <thead>
                <tr>
                    <th>구분기호</th>
                    <th>2024</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="tax : ${list}">
                    <td th:text="${tax.txtpSgn}"></td>
                    <td th:text="${tax.txrt}"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <h3>[ 수출입요건 ]</h3>
    <div class="check-list">
        <h3>수출</h3>
        <div th:unless="${exCheckList[0] == null or exCheckList[1] == null}">
            <ul th:each="exCheck : ${exCheckList}">
                <li th:text="${exCheck}"></li> 
            </ul>
        </div>

        <h3>수입</h3>
        <div th:unless="${exCheckList[0] == null or exCheckList[1] == null}">
            <ul th:each="imCheck : ${imCheckList}">
                <li th:text="${imCheck}"></li> 
            </ul>
        </div>
    </div>

    <!-- 세율 외 부가 정보들 -->
    <div>
        전략물자 확인하기 ▷
        <input type="button" id="strategic-mat" value="전략물자 확인하기">
    </div>

    <!-- 관세사 상담 연결 버튼 -->
    <div>
        More Info?
        <a href="#">
            <input type="button" value="관세사 리스트 확인하기">
        </a>
        <a href="#">
            <input type="button" value="관세사와 상담하기">
        </a>
    </div>

    <script>
        document.getElementById('tax-priority').addEventListener('click', function() {
            let options = "width=900, height=700, top=200, left=300"

            window.open("/subhead/popup", "_blank", options)
        })

        document.getElementById('strategic-mat').addEventListener("click", function() {
            window.open("https://www.yestrade.go.kr/search/search.do?method=intro", "_self")
        })
    </script>
</body>
</html>