<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tax-priority</title>
</head>
<body>
    <h3>[ 세율적용우선순위 ]</h3>

    <div>
        <table border="1">
            <thead>
                <tr>
                    <th colspan="3">세율적용 우선순위</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>
                        <span> I </span>
                        덤핑지방관세+
                        <br>
                        <span> M </span>
                        상계관세
                        <br>
                        <span> J </span>
                        보복관세
                        <br>
                        <span> K </span>
                        긴급관세
                        <br>
                        <span></span>
                        특정물품긴급관세 (+)
                        <br>
                        <span> T </span>
                        농림축산물특별긴급관세
                        <br>
                        <span> L </span>
                        조정관세(제69조) 제2호
                        <br>
                    </td>
                    <td>가장 우선하여 적용</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>
                        <span> FCL1 </span>
                        칠레
                        <br>
                        <span> FAS1 </span>
                        아세안
                        <br>
                        <span> FSG1 </span>
                        싱가포르
                        <br>
                        <span> FEF1 </span>
                        EFTA
                        <br>
                        <span> FIN1 </span>
                        인도
                        <br>
                        <span> FEU1 </span>
                        EU
                        <br>
                        <span> FPE1 </span>
                        페루
                        <br>
                        <span> FUS1 </span>
                        미국
                        <br>
                        <span> FTR1 </span>
                        튀르키예
                        <br>
                        <span> FAU1 </span>
                        호주
                        <br>
                        <span> FCA1 </span>
                        캐나다
                        <br>
                        <span> FCO1 </span>
                        콜롬비아
                        <br>
                        <span> FCN1 </span>
                        중국
                        <br>
                        <span> FVN1 </span>
                        베트남
                        <br>
                        <span> FNZ1 </span>
                        뉴질랜드
                        <br>
                    </td>
                    <td>
                        3~7보다 낮은 경우 우선 적용
                    </td>
                </tr>
                <tr>
                    <td rowspan="2">3</td>
                    <td>
                        <span> C </span>
                        WTO일반양허관세(WTO양허규정 별표1가)
                        <br>
                        <span> CIT </span>
                        WTO일반양허관세(WTO양허규정 별표1다)
                        <br>
                        <span> D </span>
                        WTO개도국간의 양허관게
                        <br>
                        <span> E1 </span>
                        아태협정양허관세 - 일반양허관세
                        <br>
                        <span> E2 </span>
                        아태협정양허관세 - 방글라데시에 대한 양허관세
                        <br>
                        <span> E3 </span>
                        아태협정양허관세 - 라오스에 대한 양허관세
                        <br>
                        <span> G </span>
                        유엔무역개발회의 개발도상국간 협정관세
                        <br>
                        <span> F </span>
                        특정국가와의 관세협상에 따른 국제협력관세
                        <br>
                        <span> N </span>
                        편익관세
                        <br>
                    </td>
                    <td>
                        4~7보다 낮은 경우 우선 적용
                    </td>
                </tr>
                <tr>
                    <td>
                        <span> W1, W2 </span>
                        WTO일반양허관세(WTO양혀규정 별표1나)
                        <br>
                        <span> E2 </span>
                        아태협정양허관세 - 일반양허관세(별표3다)
                        <br>
                    </td>
                    <td>
                        6,7보다 우선하여 적용
                        <br>
                        4,5보다 낮은 경우 우선 적용
                    </td>
                </tr>
                <tr>
                    <td rowspan="2">4</td>
                    <td>
                        <span> L </span>
                        조정관세(제69조) 제1호, 제3호, 제4호
                        <br>
                    </td>
                    <td>
                        5,6,7보다 우선 적용
                    </td>
                </tr>
                <tr>
                    <td>
                        <span> P </span>
                        할당관세
                        <br>
                    </td>
                    <td>
                        5보다 낮은 경우 우선 적용
                        <br>
                        6,7보다 우선 적용
                    </td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>
                        <span> R </span>
                        최빈개발도상국에대한 특허관세
                        <br>
                    </td>
                    <td>6,7보다 우선 적용</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>
                        <span> B </span>
                        잠정관세
                        <br>
                    </td>
                    <td>7보다 우선 적용</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>
                        <span> A </span>
                        기본관세
                        <br>
                    </td>
                    <td></td>
                </tr>
            </tbody>

        </table>

    </div>
</body>
</html>